<!-- wp:template-part {"slug":"header-large-with-banner","theme":"photolancer"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"photolancer/photo-gallery"} /-->
  <!-- wp:pattern {"slug":"photolancer/about-us"} /-->
  <!-- wp:pattern {"slug":"photolancer/services-section"} /-->
  <!-- wp:pattern {"slug":"photolancer/pricing-table"} /-->
  <!-- wp:pattern {"slug":"photolancer/testimonial-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"photolancer","area":"footer"} /-->
